html { 
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {padding:0; margin:0;}
hgroup h1 {font-size:2.5em; text-shadow: 4px 4px 4px #aaa; margin:20px 10px;}
div#container {width:80%; margin:0 auto; font-family: 'Roboto', sans-serif; border-left:3px black solid; border-right:3px black solid; padding:10px 0;}

section {background-color: white; border-top: 1px black solid; border-bottom:1px black solid; margin:50px 0; padding:5px;}

div#logos {text-align:right; background-color:white; opacity:0.8; width: 100%;}
div#logos img {margin:3px 20px;}

div#clublogSearch {text-align:center; width:60%; min-width:500px; margin:0 auto; border:none;}
div#clublogSearch iframe {border:none; height:300px;}

div#lastFreqs span {background-color:darkorange; font-family: 'Orbitron', sans-serif; font-size:1.5em; padding:5px; margin-left:15px;}

section#photocredit {background-color:#666; margin-top:20px; margin-bottom:0px; opacity:0.8;}
section#photocredit p {font-size:0.8em; font-style:italic; color:white;}
section#photocredit a {color:PowderBlue; text-decoration:none;}